.time-feed-header{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 62px 0 0 0 ;
    gap: 524px;
    overflow: hidden;
    background: linear-gradient(171.13deg, #9CEAFF -5.48%, #B8DBF1 -5.47%, #93C8EA 93.07%);
}

.time-feed-top-panel{
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 16% repeat(4, 1fr) 16%;
    justify-items: center;
    position: relative;
}

.time-feed-panel__logo{
    grid-column: 3/5;
    z-index: 1;

}

.burger-Link{
    text-decoration: none;
    color:white;
}

.burger-menu-text__text{
    cursor: pointer;
}

.time-feed-panel__img{
    width: 100%;
    display: block;
}

.time-feed-panel__burger-menu-area{
    grid-column: 5 / 7;
    padding-top: 28px;
}

.clouds-group__img{
    width: 100%;
    display: block;
}

.clouds-group{
    position: absolute;
    left: 7.1%;
    top: 5px;
    z-index: 0;
}

.cloud__img{
    display: block;
    width: 100%;
}

.cloud{
    position: absolute;
    right: 10%;
    top: 49px;
    z-index: 0;
}

.right-tree{
    position: absolute;
    left: 0.62%;
    top: 399px;
    z-index: 0;
}

.right-tree__img{
    display: block;
    width: 100%;
}

.left-tree{
    position: absolute;
    right: 8.8%;
    top: 530px;
    z-index: 0;
}


.sitting-skeleton{
    display: grid;
    z-index: 2;
    grid-template-columns: 251px 133px 350px;
    grid-template-rows: 213px 124px 413px;
    position: absolute;
    left: 28.7%;
    top: 305px;
}

.skeleton-area{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.cloud-area{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    color: #19213D;
}

.grass-area{
    display: block;
    width: 100%;
    background-image: url("../../../../images/pageImages/timeFeed/grass.svg");
    height: 151px;
    background-repeat: repeat-x;
}

.header-bottom{
    z-index: 1;
    display: block;
    width: 100%;
    background-image: url("../../../../images/pageImages/timeFeed/heading_bottom_background.svg");
    background-position: bottom;
    background-repeat: repeat-x;
}

.burger-menu__button{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 55px;
    z-index: 1;
}

.burger-menu-line{
    transform-origin: 0 0;
    background-color:  #19213D;
    height: 3px;
    transform: rotate(0);
    transition: all 0.5s ease-out;
}

.line1.animated{
    transform: rotate(45deg);
    transition: all 0.5s ease-out;
    width: 64px;
    background-color:white;
}

.line2.animated{
    transform: scale(0, 0);
    transition: all 0.5s ease-out;

}

.line3.animated{
    background-color:white;
    transform: rotate(-45deg);
    transition: all 0.5s ease-out;
    width: 64px
}

.burger-menu-text{
    color: #FFFFFF;
}

.burger-menu__content{
    flex-direction: column;
    gap: 36px;
    padding: 26px;
    z-index: 1;
    visibility: hidden;
    width: 0;
    transition: all 0.5s ease-out;
    opacity: 0;
    margin-left: 70%;
}

.burger-menu__main-links{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    z-index: 2;
    top: 35px;
    left: 80px;
}


.burger-menu-background{
    background: rgba(27, 43, 98, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 0;
    height: 872px;
    top: -90px;
    left: 300px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.burger-menu-background.animated{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    width: 390px;
    left: 0;
}


.grid-burger-area{
    position: relative;
}

.burger-menu__content.animated{
    visibility: visible;
    margin-left: 0;
    opacity: 1;
    transition: all 0.3s;
    display: flex;
    width: 200px;
}
.article__button{
    display: flex;
    padding-top: 4px;
    justify-content: flex-end;
}

