.time-feed-header{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 62px;
    gap: 524px;
    background: linear-gradient(171.13deg, #9CEAFF -5.48%, #B8DBF1 -5.47%, #93C8EA 93.07%);
}

.time-feed-top-panel{
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 16% repeat(4, 1fr) 16%;
    justify-items: center;
}

.time-feed-panel__logo{
    grid-column: 3/5;
    z-index: 1;

}

.time-feed-panel__img{
    width: 100%;
    display: block;
}

.time-feed-panel__burger-menu-area{
    grid-column: 5 / 7;
    padding-top: 28px;
}

.clouds-group__img{
    width: 100%;
    display: block;
}

.clouds-group{
    position: absolute;
    left: 7.1%;
    top: 5px;
    z-index: 0;
}

.cloud__img{
    display: block;
    width: 100%;
}

.cloud{
    position: absolute;
    right: 10%;
    top: 49px;
    z-index: 0;
}

.right-tree{
    position: absolute;
    left: 0.62%;
    top: 399px;
    z-index: 0;
}

.right-tree__img{
    display: block;
    width: 100%;
}

.left-tree{
    position: absolute;
    right: 8.8%;
    top: 530px;
    z-index: 0;
}

.sitting-skeleton{
    display: grid;
    grid-template-columns: 251px 133px 350px;
    grid-template-rows: 213px 124px 413px;
    position: absolute;
    left: 28.7%;
    top: 305px;
}

.skeleton-area{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.cloud-area{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    color: #19213D;
}

.grass-area{
    display: block;
    width: 100%;
    background-image: url("../../../../images/pageImages/timeFeed/grass.svg");
    background-size: 100% 100%;
    height: 151px;
    background-repeat: repeat-x;
}