.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #19213D;
    padding: 107px 0 21px 0;
}

.footer__footer-mascot-area{
    display: grid;
    grid-template-columns: 47px 133px 339px;
    grid-template-rows: 62px 169px 44px;
    gap: 0 28px;
}

.footer-mascot__skeleton{
    grid-column: 2/3;
    grid-row: 2/4;
}

.footer-mascot__cloud{
    grid-column: 3/4;
    grid-row: 1/3;
    color: white;
}

.footer__link-panel{
    padding-top: 112px;
    width: 100%;
    display: flex;
    justify-content: center;
}