.text-cloud{
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 60px;
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.text-cloud_size_m{
    background-image: url("../../../images/skelet/message_cloud.svg");
}

.text-cloud_size_sm{
    background-image: url("../../../images/skelet/message_cloud_sm.svg");
}

.text-cloud_white_size_sm{
    background-image: url("../../../images/skelet/message_cloud_white_sm.svg");
}

.text-cloud_white_size_extra_sm{
    background-image: url("../../../images/skelet/message_cloud_white_extrasm.svg");
}


.text-cloud_type_start-paragraph{
    padding: 0 88px 0 77px;
}

.text-cloud_type_form{
    padding: 0 42px 0 47px;
}

.text-cloud_type_map{
    padding: 0 60px 0 51px;
}

.text-cloud_type_footer{
    padding: 0 56px;
}

.text-cloud_type_time-feed{
    padding: 0 39px 0 56px;
}

.mascot-hint{
    background-color: rgba(0, 0, 0, 0);
}

.mascot-hint_reverse{
    transform: scale(-1, 1);
}

.mascot-hint{
    width: 100%;
    height: 100%;
}

.text-cloud__central-text{
    text-align: center;
}

