.record-guide-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white
}

.record-guide-header__header-wrapper__start-text{
    width: 300px;
}
.record-guide-header__content{
    margin: 0;
}


.record-guide-header__header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.record-guide-header__end-text{
    padding-left: 24px;
    padding-bottom: 25px;
}

.guides-area{
    background-color: #19213D;
    height: auto;
    padding: 87px 0 150px 189px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.guide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 173px;
    color: white;
    flex-wrap: wrap;
}

.guide__guide-text-wrapper{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 15px;
    padding-bottom: 27px;
}

.guide-header-index{
    width: 100px;
}

.guide-content-area{
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-top: 50px;
    width: 500px;
}

.guide-heading{
    margin: 0;
}
.guides-box{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 4px;
}

.guides-mascot{
    position: absolute;
    right: 11.8%;
    top: 415px;
    width: 186px;
    height: 268px;
}