.record-guide-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white
}

.record-and-guide{
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #19213D;
}

.guide__link{
    text-decoration:  underline #FFFFFF;
    color: white;
}

.record-guide-header__header-wrapper__start-text{
    width: 300px;
}
.record-guide-header__content{
    margin: 0;
}


.record-guide-header__header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.record-guide-header__end-text{
    padding-left: 24px;
    padding-bottom: 25px;
}

.guides-area{

    height: auto;
    padding: 87px 0 0 189px;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.guide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 173px;
    color: white;
    flex-wrap: wrap;
}

.guide__guide-text-wrapper{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 15px;
    padding-bottom: 27px;
}

.guide-header-index{
    width: 100px;
}

.guide-content-area{
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-top: 50px;
    width: 500px;
}

.guide-heading{
    margin: 0;
}
.guides-box{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 4px;
}

.guides-mascot{
    position: absolute;
    right: 11.8%;
    top: 415px;
    width: 186px;
    height: 268px;
}

.form-area-heading{
    margin: 0;
    color: white;
}

.form-area{
    padding-top: 100px;
    width: auto;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.form-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 241px;
}

.form-wrapper__hint-area{
    display: grid;
    grid-template-columns: 287px 348px;
    gap: 0 29px;
    grid-template-rows: 44px 221px 194px;
    width: 43%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 37%;
    gap: 34px;
}

.form__input{
    padding: 33px 0 33px 64px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    background: #FFFFFF;
    color: #817F83;
    border-radius: 7px;
    width: auto;
    height: auto;
    min-width: 350px;
    max-width: 573px;
}

.form__submit-button{
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 34px;
    align-items: center;
    color: #F7F8FC;
    background: #01AC4D;
    border-radius: 7px;
    justify-content: center;
    padding: 23px 38px;
    min-width: 350px;
    max-width: 573px;
}

.form__input-field-wrapper{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.form-hint-area__skeleton{
    grid-row: 2/4;
}

.form-hint-area__text-cloud{
    grid-row: 1 / 3;
    grid-column: 2/3;
    color: white;
}