.button{
    background-color: #01AC4D;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 29px 10px 29px;
    border: 4.36842px solid #01AC4D;
    border-radius: 34.9474px;
    width: auto;
    height: auto;
}

.button_focused{
    background-color: #2001ac;
}
  