.button{
    text-decoration: none;
    background-color: #01AC4D;
    color: #FFFFFF;
    text-align: center;
    padding: 27px 45px 27px 45px;
    border-radius: 66px;
    border: none;
    width: auto;
    height: auto;
    /*transition: transform 1.5s ease-out 0.1s, color 1s ease-out 0.1s, background-color 1s ease-out 0.1s;*/
}

.button:hover{
    transform: scale(1.1);
    color: wheat;
    background-color: black;
    transition: all 0.1s linear;
}

.button_focused{
    background-color: #2001ac;
}

.button_light{
    padding: 20px 62.5px;
    color: #19213D;
    background-color: #FFFFFF;
    border: 1px solid #19213D;
    border-radius: 67px;
}
  